*
{
    margin :0;
    padding :0;
}
nav{
    background : white;
    display: flex;
    padding-right :3%;
    padding-left :5%;
    justify-content: center;
    align-items: center;
    position : sticky;
    top : 0;
    z-index: 1;
    height: 80px;
    box-shadow: 0px 0px 5px 0  rgba(0,0,0,0.6);
}

nav img{
    width : 150px;
}

.nav-links
{
    flex : 1;
    text-align: center;
    margin-left : -130px;
}

.nav-links ul li
{
    list-style-type : none;
    display: inline-block;
    padding : 8px;
}


.nav-links ul li a{
    text-decoration: none;
    color : black;
    font-size: 15px;
}

.nav-links ul li a::after 
{
    content :'';
    width : 0%;
    height: 2px;
    background-color: orange;
    display: block;
    margin : auto;
    transition : 0.8s;
}

.nav-links ul li:hover a{
    color : #39b75d;
}
.nav-links ul li a:hover::after
{
    width: 100%;
}

.dropbtn a:hover::after
{
    width :0%;
}

.dropdown
{
    position: relative;
    display : inline-block;
}
.dropdown-content {
    display: none;
    border-top : 2px solid  #39b75d;
    margin-top : 10px;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width : 70px;
    margin :auto;

}

.dropdown:hover .dropdown-content {
    display: block;
}

nav .fa{
    display: none;
}

.content{
    width: 100%;
    margin : auto;
}
.header
{
    margin: auto;
    text-align: center;
    padding : 40px;
    background-color: #39b75d;
    color: white;
    font-weight: 900;
    font-size: 1.5em;
}
.header:hover{
    background-color: white;
    color:#39b75d;
    transition :1s;
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    margin : auto;
    padding : 20px;
    width : 90%;
    justify-content: center;
    background-color:white;
    border-bottom: 1px solid #39b75d;
}

.col{
    flex-basis:20%;
    margin : 15px;
    border-radius : 10px;
    padding : 5px;
    text-align: center;
    background-color: white;
}
.col h3
{
    font-weight: 800;
}

.col img 
{
    margin : 5px;
    height: 18vw;
    width : 250px;
}

.col p
{
    margin : 5px;
}

.col h4
{
    margin : 10px;
    text-align: left;
    font-size: 20px;
}

.col-end
{
    display: flex;
}

.col-end button{
    padding : 10px;
    border-radius: 10px;
    border: none;
    text-align: right;
    margin : 10px 10px 10px 50px;
    background-color :#39b75d;
}

.col-end button a 
{
    text-decoration: none;
    color : white;
}

.col-end button:hover
{
    background-color : whitesmoke;
    transition: 0.5s;
}

.col-end button:hover a{
    color : black;
    transition: 0.5s;
}

.more-cards
{
    display: flex;
    flex-wrap: wrap;
    margin : auto;
    padding : 20px;
    width : 90%;
    justify-content: center;
    background-color:white;
    margin-bottom: -100px;
}

.more-col
{
    margin :10px;
    text-align: center;
    padding : 0px;
}

.more-col img
{
    width : 300px;
    height :50%;
}

.more-col h3{
    margin : 10px
}

.more-col button{
    padding : 10px;
    font-size: 15px;
    border : none;
    border-radius: 10px;
}

.more-col button a 
{
    text-decoration: none;
    color : black;
    font-weight: 500;
}

.more-col button:hover{
    background-color: #39b75d;
    transition: 0.5s;
}

.more-col button:hover a{
    color : white;
    transition: 0.5s;
}

footer{
    width: 100%;
    text-align : center;
    background-color: white;
    padding : 20px 0px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
}
footer h4{
    margin-bottom :25px;
    margin-top : 20px;
    font-weight: 700;
    color: #39b75d;
    font-size: 20px;
}
.arrow
{
    font-size: 20px;
    margin : 15px 0px 0px 0px;
}
.arrow :hover{
    color : black;
}

.arrow a{
    color :#39b75d;
}

.icons img
{
    margin : 0px 13px;
    padding : 18px 0px;
    width : 20px;
}

.upload
{
    width: 100%;
    margin : auto;
    justify-content: center;
}
.upload-content
{
    background-color:#39b75d;
    width : 30%;
    padding : 15px;
    margin : auto;
    justify-content: center;
    text-align: center;
    border : none;
    border-radius: 20px;
}

.upload-content a
{
    font-family:Arial, Helvetica, sans-serif ;
    text-decoration: none;
    color :white;
}

@media(max-width:700px)
{
    nav
    {
        position: sticky;
    };
    .text-box h1
    {
        font-size : 20px;
    }
    .text-box p{
        margin : 10px 0px 40px;
        font-size: 12px;
    }
    .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position : absolute;
        background-color: orange;
        height: 100vh;
        width  : 200px;
        top : 0;
        right : -200px;       
        text-align: left;
        z-index: 2s;
        transition: 1s;
    }
    nav .fa
    {
        display: inline-block;
        color : black;
        margin-top: 10px;
        margin-left :150px;
        font-size: 22px;
        cursor : pointer;
    }
    .nav-links ul
    {
        padding : 30px;
    }
    .row{
        flex-direction: column;
    }
}